<!DOCTYPE html>
<html>
<head>
<title>Contact List</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="styles.css" type="text/css">
<style>
  .container
  {
     background-color: #5162e4;
     background-size: cover;
     color: white;
     
  }
 
 
</style>
</head>

<body>
  <br /><br/><br /><br/><h1><center><b>OUR TEAM MEMBERS</b></h1></center>
  <h1><center>Guide: Er.Kirandeep Kaur</center></h1></body><br></br>
<div class="container" >
<div class="row">
<div class="col-md-4">
  
<h3>Prem kumar</h3>
<p>kandregulapremkumar@gmail.com</p>
<p>9494283614</p>
</div>
<div class="col-md-4">
  
<h3>Sreenu Nandyala</h3>
<p>Sreenunandyala@gmail.com</p>
<p>6304045710</p>
</div>

</div>
</div>
</div>
</body>
</html>
